html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /*outline: 1px solid red;*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif, 'Kaushan Script', cursive, 'Montserrat', sans-serif;
    color: #626262;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main {
    flex-grow: 1;
    position: relative;
}

.logo {
    color: #95e1d3;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
}

.nav-item {
    margin: 0 20px;
    position: relative;
}

.nav-item a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #95e1d3;
}

.nav-item:last-child {
    margin: 0 0 0 20px;
}

.logo {
    margin-right: auto;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #f38181;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    content: '';
    margin: 0 auto;
    bottom: -12px;
}

.nav-item:last-child a:hover::after,
.nav-item:last-child a:focus::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    content: '';
    margin: 0 auto;
    bottom: -12px;
}

.p-title-services {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 94px;
}

.p-title-members {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-block-start: 0;
}

.h2-title {
    font-size: 30px;
    color: #333333;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 90px;
    margin-block-end: 0;
}

.h2-title::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: '';
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
}

.services {
    position: relative;
}

.members {
    position: relative;
}

.services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.services-item {
    position: relative;
    display: block;
    width: 383px;
    height: 165px;
}

h3 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding-left: 92px;
}

.wrapper img {
    position: absolute;
    left: 30px;
}

p.services-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    font-weight: 400;
}

.members-descr {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    font-weight: 400;
    line-height: 24px;
    margin-block-start: 0;
    margin-bottom: 90px;
}

.members-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.members-img {
    display: block;
    width: 380px;
    height: 470px;
    margin-bottom: 27px;
    z-index: 1;
}

.members-item p {
    text-align: center;
}

.members-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}

.members-profession {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}

a.members-item {
    text-decoration: none;
}

.members-item {
    position: relative;
    width: 380px;
    height: 560px;
    margin-bottom: 60px;
}

.members-item-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.members-item:hover .members-item-wrapper,
.members-item:focus .members-item-wrapper {
    transition-property:
        top,
        left;
    transition-duration: 0.3s;
    top: -10px;
    left: -10px;
}

.members-img-hover-blue {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
    opacity: 0;
    z-index: -100;
}

.members-item:hover .members-img-hover-blue,
.members-item:focus .members-img-hover-blue {
    opacity: 1;
}

.members-card-sign {
    position: absolute;
    top: 482px;
    left: 50%;
    transform: translateX(-50%);
}

.members-item:hover .members-img-hover-grad,
.members-item:focus .members-img-hover-grad {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 470px;
    background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    opacity: 0.9;
    z-index: 2;
}

.share {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 208px;
    left: 79px;
    opacity: 0;
    z-index: 2;
}

.share-item {
    position: relative;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
}

.share-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.members-item:hover .share,
.members-item:focus .share {
    opacity: 1;
}

.share-item:hover,
.share-item:focus {
    background-color: #95e1d3;
}

footer {
    position: relative;
    display: block;
    height: 62px;
    border-top: 1px solid rgb(229, 229, 229);
}

.footer-descr {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.footer-link {
    text-decoration: none;
    color: #f38181;
}

.wrapper-footer {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedback {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: flex;
    align-items: center;
}

.input-email {
    color: #cccccc;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    width: 230px;
    height: 40px;
    border: 1px #e5e5e5 solid;
    padding: 0;
}

.submit-email {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;

    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    cursor: pointer;
}