html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /*outline: 1px solid red;*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #626262;
    font-size: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}
