html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    /*width: 571 px;*/
    margin: auto;
    /*padding: 10px 0 10px 0;*/
}

.site-nav {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    margin: 0 126px;
    text-align: center;
    padding-inline-start: 0;
}

.menu-item a:hover,
.menu-item a:focus {
    color: #03a9f4;
}

.menu-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    display: block;
    width: 128px;
    /*height: 165px;*/
    text-align: center;
    /* line-height: 165px;*/
    margin: 69px 0 97px 0;
}

.menu-item:last-child {
    margin-right: 0;
}

.tag {
    font-size: 14px;
    line-height: 17px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 20px;
}

.main-content {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.main-content-ul{
    padding-inline-start: 0;
}

.main-content-article-header {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    margin-block-start: 0;
    margin-bottom: 27px;
}

.menu-item {
    display: inline-block;
    margin-right: 40px;
    /*padding: 0 22px;*/
}

.main-content-article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    font-size: 0;
}

.main-content-article:nth-child(2n) {
    margin-right: 0;
}

.main-content-article img {
    display: block;
    margin-bottom: 28px;
}

.button-style {
    display: block;
    border: 1px solid #626262;
    background-color: #fff;
    padding: 17px 32px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    margin: 35px auto 70px;
    cursor: pointer;
}

.button-style:hover,
.button-style:focus {
    color: #03a9f4;
    border: 1px solid #03a9f4;
}

.main-content-article {
    margin-bottom: 115px;
}

.main-content-article:nth-last-of-type(-n+2) {
    margin-bottom: 0px;
}

.text {
    font-size: 14px;
    line-height: 24px;
}

.img{
    width: 420px;
    height: 280px;
}