/** {
    outline: 1px solid red;
}*/
/**, 
*::before, 
*::after{
    box-sizing: inherit:
}*/
.container{
    width: 900px;
    margin: 0 auto;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 0;
    line-height: 24pt;
}
.header{
    /*width: 571 px;*/
    margin: auto;
    /*padding: 10px 0 10px 0;*/
}
.site-nav{
    list-style: none;
    font-size: 14pt;
    margin: 0 126px;
    text-align: center;
}

.menu-item a:hover,
.menu-item  a:focus{
    color: #03a9f4;
}

.menu-item a{
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    display: block;
    width: 128px;
    /*height: 165px;*/
    text-align: center;
    /* line-height: 165px;*/
    margin: 66px 0 94px 0;
}
.menu-item:last-child{
    margin-right: 0;
}

.tag{
    font-size: 14pt;
    line-height: 17pt;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
}
.main-content{
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.main-content-article-header{
    font-size: 20pt;
    line-height: 36pt;
}
.menu-item{
    display: inline-block;
    margin-right: 40px;
    /*padding: 0 22px;*/
}

.main-content-article{
    display: inline-block;
    width:420px;
    margin-right: 60px;
    font-size: 14pt;
}
.main-content-article:nth-child(2n){
    margin-right: 0;
}
.main-content-article img{
    margin-bottom:32px;
}
/*button 164*60*/
.button-style{
    display: block;
    border:1px solid #626262;
    background-color: #fff;
    padding: 22px 36px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    margin: auto;
    cursor: pointer;
}
.button-style:hover,
.button-style:focus{
    color: #03a9f4;
    border:1px solid #03a9f4;
}
li.main-content-article{
    margin-bottom: 142px;
}
li.main-content-article:nth-last-child(-n + 2) {
    margin-bottom: 0px;
}